* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --BG-COLOR: #2b7c85;

    --BODY-COLOR: #0c1446;
    
    --BORDER-COLORS: #111;

    --DISPLAY-COLOR: #222;

    --BTN-BG-COLOR: hsl(165, 18%, 60%);
    --BTN-HOVER-COLOR: hsl(165, 18%, 50%);
    --BTN-ACTIVE-COLOR: hsl(165, 18%, 40%);
    --BTN-TOGGLE-COLOR: hsl(232, 71%, 60%);
    --BTN-TOGGLE-HOVER-COLOR: hsl(232, 71%, 50%);
    --BTN-TOGGLE-ACTIVE-COLOR: hsl(232, 71%, 40%);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    background-color: var(--BG-COLOR);

    user-select: none;
}

.container {
    border-radius: 10px;
    border: 5px solid var(--BORDER-COLORS);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--BODY-COLOR);
    gap: 5px;
    padding: 10px;

    flex-basis: 345px;
    flex-grow: 0;
    flex-wrap: wrap;
    overflow: hidden;

}
.display {
    border-radius: 10px;
    color: var(--DISPLAY-COLOR);
    border: 2px solid var(--BORDER-COLORS);
    background-color: var(--BTN-BG-COLOR);

    flex-basis: 315px;
    flex-grow: 0;
    height: 75px;
    padding: 0 2px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    overflow: hidden;
}
.container .backspace {
    flex-basis: 155px;
}
.container .equals {
    flex-basis: 315px;
}
.btn {
    color: var(--DISPLAY-COLOR);
    border-radius: 10px;
    border: 2px solid var(--BORDER-COLORS);
    font-size: 20px;
    background-color: var(--BTN-BG-COLOR);
    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: 75px;
    height: 75px;
}
.btn:hover {
    background-color: var(--BTN-HOVER-COLOR);
}
.btn:active {
    background-color: var(--BTN-ACTIVE-COLOR);
}

.toggle {
    background-color: var(--BTN-TOGGLE-COLOR);
}
.toggle:hover {
    background-color: var(--BTN-TOGGLE-HOVER-COLOR);
}
.toggle:active {
    background-color: var(--BTN-TOGGLE-ACTIVE-COLOR);
}

.keybinds {
    padding: 10px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keybinds ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.keybinds li {
    display: flex;
    align-items: center;
    gap: 20px;
}
.keybinds span {
    color: var(--DISPLAY-COLOR);
    border-radius: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BTN-BG-COLOR);
}